/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: inherit;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: inherit;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.site-header nav {
	position: fixed;
}

.main-navigation.toggled {
	background: #003d37;
	top: 92px;
}

.main-navigation div > ul {
	display: none;
	text-align: left;
	background: #003d37;
	font-size: 15px;
  font-weight: normal;
	line-height: 23px;
	margin-left: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.main-navigation.toggled div > ul {
	display: block;
}


#toggle-menu {
	text-align: right;
}

#toggle-menu:focus {
	outline: none;
}

.menu-close, .main-navigation.toggled .menu-open {
	display: none;
}

.main-navigation.toggled .menu-close {
	display: inline-block;
}

.main-navigation ul, .kuurna-quicklinks ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: left;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	font-size: 15px;
	line-height: 23px;
}

.main-navigation a:hover {
	text-decoration: underline;
	color: inherit;
}

.main-navigation li {
	margin-bottom: 3px;
}

.main-navigation ul ul {
	font-size: 0.77em;
	margin: 7px 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.site-logo {
	position: absolute;
	z-index: 4;
	width: 100%;
	margin-top: 60px;
	margin-left: 5%;
	padding 0 5%;
}
